
/*
 * Copyright 2008-2016 Douglas Wikstrom
 *
 * This file is part of Verificatum JavaScript Cryptographic library
 * (VJSC). VJSC is NOT free software. It is distributed under
 * Verificatum License 1.0 and Verificatum License Appendix 1.0 for
 * VJSC.
 *
 * You should have agreed to this license and appendix when
 * downloading VJSC and received a copy of the license and appendix
 * along with VJSC. If not, then the license and appendix are
 * available at: http://www.verificatum.com/VERIFICATUM_LICENSE_1.0
 * http://www.verificatum.com/VERIFICATUM_LICENSE_1.0_APPENDIX_VJSC
 *
 * If you do not agree to the combination of this license and
 * appendix, then you may not use VJSC in any way and you must delete
 * VJSC immediately.
 */

body
{
    font-family: "Times New Roman", Times, serif;
    max-width: 700px;
    background-color: white;
    color: black;
    font-size: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table, th {
    border-bottom: 2px solid black;
}
table, th, tr, td {
    text-align: left;
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
